.Container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    
} 
@media screen and (max-width: 500px){
    .Container{
        flex-direction: column;
    } 
}
