.FormData{
    border: 1px solid red;
    padding: 1pc;
}

#Inp::placeholder{
    color: black;
}
#Inp{
    padding: 0.4pc 0pc;

}
.FormData form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1pc;
}
.FormData form label {
    display: flex;
    flex-direction: column;
    gap: 0.8 pc;
}